@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff0e4;
  font-family: 'Margarine';
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resume-wrapper {
  display: flex;
  gap: 0.8em;
  max-width: 1100px;
  width: 100%;
}

.left-panel {
  background-color: #fff0e4;
  width: 33%;
  padding: 10px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.5);
}

.name {
  margin-bottom: 0.8em;
  font-weight: normal;
}

.contact-info {
  margin-bottom: 1em;
  font-size: 14px;
}

.contact-item i {
  color: #2991e6;
  padding-right: 10px;
}

div .contact-info:nth-child(5) {
  border-bottom: 1px solid #a2a2a2;
  padding-bottom: 10px;
}

.skill-bar-bg {
  background-color: #fef0e4;
  border-radius: 10px;
  height: 22px;
  width: 100%;
  position: relative;
}

.skill-item {
  padding-bottom: 15px;
}

.skill-label {
  padding-bottom: 15px;
  /* font-size: 14px; */
}

.skill-bar-fill {
  background-color: #2991e6;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-bar-fill span {
  color: #fef0e4;
  font-size: 12px;
}

.right-panel {
  background-color: #fff0e4;
  width: 70%;
  padding: 10px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.section-title {
  align-self: center;
  margin: 1em;
  font-weight: normal;
}

.job-entry{
    padding: 1em 0;
    margin: 0 1em;
}

div.job-entry:nth-child(2), div.job-entry:nth-child(3){
  border-bottom: 1px solid #a2a2a2;
}
.job-date{
    padding: 1em 0;
    color: #2991e6;
    /* font-size: 14px; */
}

.job-description{
    font-size: 12px;
}

.job-title{
    opacity: 0.6;
    font-weight: bold;
    font-size: 14px;
}
